<!--The content below is only a placeholder and can be replaced.-->
<div #Data  >
      
<p #hello>Helllooo</p>

<input type="text" #box [(ngModel)]='SearchText' ><br>
<button (click)="decrement()">-</button>
        {{value}}
 <button (click)="increment()">+</button>
<div [highlight] = "SearchText">
        
kkkkkk
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<p >hi my name is nikita </p>
<app-search></app-search>
</div>

</div>
